*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    font-family:"Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}


.app{
    display: flex;
}

.description{
    color:#7C8B88;
    padding: 10px;
    font-size: 1.10em;
    font-weight: 500;
    margin: 10px;
}

.image{
    margin: 10px;
}

.title{
    background-color: #33BEBE;
    color:white;
    padding-top: 20px;
    font-size: 5em;
    font-weight: 100;
    margin: 10px;
}